.MainBlue{
  background-color: '3267FF';
}
.Light{
  background-color: 'F1F8FF';
}
.Dark{
  background-color: '4E4D4D';
}
.Black{
  background-color: '000A2D';
}
.White{
  background-color: 'FFFFFF';
}